.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.display-only {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.create-btn {
  height: 35px;
  width: 75px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-color {
  height: 100%;
  width: 4px;
}

.shadow {
  box-shadow: -5px 2px 5px lightgrey;
  -webkit-box-shadow: -5px 2px 5px lightgrey;
}
.sidebar {
  background-color: white;
  height: 100vh;
  width: 25vw;
  right: -5px;
  top: 0;
}
.sidebar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 5px;
}

.sidebar-header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btn-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-left-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.form-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-row-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.error-text {
  font-size: 14px;
  line-height: 14px;
  min-height: 28px;
  max-width: 100%;
}

.settings {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.settings-bottom-align {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.settings-top-align {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.settings > a:hover,
.settings-top-align > a:hover,
.settings-bottom-align > a:hover {
  background-color: whitesmoke;
}
.settings > a,
.settings-top-align > a,
.settings-bottom-align > a {
  flex: 1;
  width: 100%;
  cursor: pointer;
  border-top: 1px lightgrey solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.settings > a:active,
.settings-top-align > a:active,
.settings-bottom-align > a:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.settings > a > span,
.settings-top-align > a > span,
.settings-bottom-align > a > span {
  font-size: 16px;
  right: 10px;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.setting-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.delete-task {
  position: absolute;
  width: 30px;
  height: 100%;
  left: -30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-task-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: var(--main-color-danger);
}

.delete-task:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.nav-item {
  width: 15%;
  min-width: 150px;
  max-width: 200px;
  height: 95%;
  margin-right: -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: lightgrey 1px solid;
  border-bottom: none;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
.nav-link-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-link > span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
}
.nav-link:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.mainboard-wrapper {
  width: 100%;
  height: 100%;
}
.mainboard {
  padding: 10px 10px 0 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mainboard-title {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.mainboard-title-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 20%;
  height: 100%;
}

.mainboard-title-right {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.mainboard-title-name > span {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.mainboard-info {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mainboard-body {
  height: 82%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mainboard-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10049 !important;
  background-color: #0000001a;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.a-btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
